<section class="library" xmlns="http://www.w3.org/1999/html">


<!-- ======== Art ======== -->
  <div class="row"><br/><br/>

    <div class="large-12 columns">
      <h2>Art Videos</h2>
    </div>

    <!-- displays all art videos -->
    <% @art_videos.each do |video| %>
    <div class="subject panel large-3 columns">
      <a class="text-center" href=<%= "/videos/#{video.id}" %>>
        <p>
          <%= image_tag( video.icon, :class => 'icons' ) %>
        </p>
        <h4><%= video.title %></h4></a>
    </div>
    <% end %>

  </div><br/><hr>
<!-- ====== end art ====== -->

<!-- ======== Graphics ======== -->
  <div class="row"><br/><br/>

    <div class="large-12 columns">
      <h2>Graphics Videos</h2>
    </div>

    <!-- displays all art videos -->
    <% @graphic_videos.each do |video| %>
        <div class="subject panel large-3 columns">
          <a class="text-center" href=<%= "/videos/#{video.id}" %>>
          <p>
            <%= image_tag( video.icon, :class => 'icons' ) %>
          </p>
          <h4><%= video.title %></h4></a>
        </div>
    <% end %>

  </div><br/><hr>
<!-- ====== end graphics ====== -->

<!-- ======== Web ======== -->
  <div class="row"><br/><br/>

    <div class="large-12 columns">
      <h2>Web Videos</h2>
    </div>

    <!-- displays all art videos -->
    <% @web_videos.each do |video| %>
        <div class="subject panel large-3 columns">
          <a class="text-center" href=<%= "/videos/#{video.id}" %>>
            <p>
              <%= image_tag( video.icon, :class => 'icons' ) %>
            </p>
            <h4><%= video.title %></h4></a>
        </div>
    <% end %>

  </div><br/><hr>
<!-- ====== end web ====== -->

<!-- ==== Development ==== -->
  <div class="row"><br/><br/>

    <div class="large-12 columns">
      <h2>Development Videos</h2>
    </div>

    <!-- displays all art videos -->
    <% @development_videos.each do |video| %>
        <div class="subject panel large-3 columns">
          <a class="text-center" href=<%= "/videos/#{video.id}" %>>
            <p>
              <%= image_tag( video.icon, :class => 'icons' ) %>
            </p>
            <h4><%= video.title %></h4></a>
        </div>
    <% end %>

  </div><br/><hr>
<!-- === end development === -->

<!-- ==== Business ==== -->
  <div class="row"><br/><br/>

    <div class="large-12 columns">
      <h2>Business Videos</h2>
    </div>

    <!-- displays all art videos -->
    <% @business_videos.each do |video| %>
        <div class="subject panel large-3 columns">
          <a class="text-center" href=<%= "/videos/#{video.id}" %>>
            <p>
              <%= image_tag( video.icon, :class => 'icons' ) %>
            </p>
            <h4><%= video.title %></h4></a>
        </div>
    <% end %>

  </div><br/><br/>
<!-- === end business === -->

</section>





<section class="create">
<div class="row">
  <div class="large-6 large-centered columns formpadding">

  <br/><br/><br/><br/><br/>
  <h4>Want to create a new video?</h4>
  <form method="post" action="/videos">

    <div class="row collapse">
        <div class="large-9 columns">
            <input type="text" name="title" placeholder="Title of New Video"/>
        </div>
        <div class="large-3 columns">
          <div id="customDropdown" class="small secondary radius">
            <select>
              <option>Art</option>
              <option>Graphics</option>
              <option>Web</option>
              <option>Development</option>
              <option>Business</option>
            </select>
          </div>
        </div>
    </div>

    <input class="button small success-dark radius" type="submit" value="Add Video"/>

  </form>


  </div>
</div>
</section>

