

<section class="library">


<!-- ======== Art ======== -->
  <div class="row"><br/><br/>

    <div class="large-12 columns">
      <h2>Art Videos</h2>
    </div>

    <!-- displays all art videos -->
    <% @art_videos.each do |video| %>
    <div class="subject panel large-3 columns">
      <p><%= video.icon %></p>
      <a href=<%= "/videos/#{video.id}" %>><h4><%= video.title %></h4></a>
    </div>
    <% end %>

  </div><br/><hr>
<!-- ====== end art ====== -->

<!-- ======== Graphics ======== -->
  <div class="row"><br/><br/>

    <div class="large-12 columns">
      <h2>Graphics Videos</h2>
    </div>

    <!-- displays all art videos -->
    <% @graphic_videos.each do |video| %>
        <div class="subject panel large-3 columns">
          <p><%= video.icon %></p>
          <a href=<%= "/videos/#{video.id}" %>><h4><%= video.title %></h4></a>
        </div>
    <% end %>

  </div><br/><hr>
<!-- ====== end graphics ====== -->

<!-- ======== Web ======== -->
  <div class="row"><br/><br/>

    <div class="large-12 columns">
      <h2>Web Videos</h2>
    </div>

    <!-- displays all art videos -->
    <% @web_videos.each do |video| %>
        <div class="subject panel large-3 columns">
          <p><%= video.icon %></p>
          <a href=<%= "/videos/#{video.id}" %>><h4><%= video.title %></h4></a>
        </div>
    <% end %>

  </div><br/><hr>
<!-- ====== end web ====== -->

<!-- ==== Development ==== -->
  <div class="row"><br/><br/>

    <div class="large-12 columns">
      <h2>Development Videos</h2>
    </div>

    <!-- displays all art videos -->
    <% @development_videos.each do |video| %>
        <div class="subject panel large-3 columns">
          <p><%= video.icon %></p>
          <a href=<%= "/videos/#{video.id}" %>><h4><%= video.title %></h4></a>
        </div>
    <% end %>

  </div><br/><hr>
<!-- === end development === -->

<!-- ==== Business ==== -->
  <div class="row"><br/><br/>

    <div class="large-12 columns">
      <h2>Business Videos</h2>
    </div>

    <!-- displays all art videos -->
    <% @business_videos.each do |video| %>
        <div class="subject panel large-3 columns">
          <p><%= video.icon %></p>
          <a href=<%= "/videos/#{video.id}" %>><h4><%= video.title %></h4></a>
        </div>
    <% end %>

  </div><br/><hr>
<!-- === end business === -->

</section>


<br/><hr/>



<ol>
  <% @graphic_videos.each do |video| %>
      <li><a href=<%= "/videos/#{video.id}" %>><%= "Name: #{video.title} - Category: #{video.subject.name}" %></a></li>
  <% end %>
</ol>

<div class="row">



</div>

<form method="post" action="/videos">
  <label for="title">Title</label>
  <input type="text" name="title"/>
  <label for="category">Category</label>
  <input type="text" name="category"/>
  <input type="submit"/>
</form>