
<section class="library">
  <div class="row">

    <div class="large-12 columns vid">
      <br/>
      <h1><%= @video.title %></h1>
    </div>

  </div>

  <div class="row">

    <div class="large-12 large-centered columns">
      <div class="panel">

        <%= video_tag 'learn_creative.webm', :size => '930x523', :poster => 'video.png', :controls => true %>

      </div>

    </div>

  </div>

  <div class="row">
        <div class="large-3 columns">
          <a href="<%= '/videos/library' %>" class="button small success-dark radius crud">Back to Library</a>
        </div>
        <div class="large-5 columns">
          <p class="right"><%= @video.title %><strong>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Subject: &nbsp; &nbsp;</strong><%= @video.subject.name %></p>
        </div>

        <div class="large-4 columns right">
          <div class="row collapse">
            <form class="large-9 columns" method="post" action=<%= "/videos/#{@video.id}/edit" %>>
                <a href="<%= "/videos/#{@video.id}/edit" %>" class="button small secondary radius crud right">Edit</a>
            </form>
            <form class="large-3 columns" method="post" action=<%= "/videos/#{@video.id}/delete" %>>
                <input class="button small alert-dark radius crud right" type="submit" value="Delete" name="delete">
            </form>
          </div>
        </div>
  </div>
  <br/><br/><br/>
</section>








